@charset "UTF-8";
/* ╤Е╨╛╨▓╨╡╤А ╨┤╨╗╤П ╨║╨╜╨╛╨┐╨║╨╕
=====================*/
.ripplelink {
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0; }

.ripplelink:hover {
  z-index: 1000; }

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5); } }
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5); } }
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5); } }
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
.dd-want-view {
  background: #fff; }

.dd-akkordeon {
  width: 100%;
  background: url(../img/bm.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 37px;
  padding-bottom: 64px; }

.dd-title_ma {
  text-align: center; }
  .dd-title_ma span {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px; }

.faq {
  margin: 0 auto; }

.faq-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  padding: 12px 15px;
  width: 100%;
  text-align: left; }

.faq-title:hover {
  color: #FFE473; }

.dd-active {
  color: #FFE473 !important; }

.faq-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 12px 15px;
  border-top: 1px solid #353537;
  margin: 0 6px;
  display: none; }

.faq__item {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  margin-top: 12px; }

.dd-dek-akkordeon {
  display: none; }

.dd-scrolls {
  color: #FFE464;
  border-bottom: 1px dashed #FFE464; }

.dd-temp {
  color: red; }

/* ╨┐╨╛╨┐╨░╨┐╤Л
=====================================*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: none; }

.window {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 9998;
  border: none; }
  .window .form-wrap-main {
    background: #F4F4F4;
    border-radius: 3px;
    padding: 15px;
    text-align: center; }
  .window .form-wrap-main_5 {
    width: 265px;
    padding-bottom: 74px; }
  .window .dd-close {
    width: 32px;
    height: 32px;
    background: url(../img/kres.png);
    position: absolute;
    top: 8px;
    right: 150px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px; }
  .window .dd-form-tariff {
    background: #fff;
    border-radius: 3px 3px 0px 0px;
    width: 945px;
    padding-left: 73px;
    padding-right: 73px; }
    .window .dd-form-tariff .dd-close {
      right: -128px; }
  .window .dd-form-tariff_mobile {
    width: 320px;
    padding: 0; }
    .window .dd-form-tariff_mobile .dd-title_tr_sp {
      font-size: 20px; }
    .window .dd-form-tariff_mobile .dd-close {
      right: 145px; }
    .window .dd-form-tariff_mobile .dd-price_td {
      font-size: 12px; }
    .window .dd-form-tariff_mobile .dd-days {
      font-size: 13px; }
    .window .dd-form-tariff_mobile td {
      width: 80px;
      height: unset;
      padding-left: 4px; }
      .window .dd-form-tariff_mobile td .tr-title {
        font-size: 9px; }
    .window .dd-form-tariff_mobile .dd-table-title {
      font-size: 11px; }
      .window .dd-form-tariff_mobile .dd-table-title span {
        font-size: 11px; }
      .window .dd-form-tariff_mobile .dd-table-title i {
        font-size: 8px; }
    .window .dd-form-tariff_mobile .tr-title td {
      height: 35px; }

.window_2 {
  width: 320px !important; }
  .window_2 .dd-form_box {
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px; }
    .window_2 .dd-form_box span:first-child {
      font-size: 15px; }
  .window_2 .dd-tarif-form {
    width: 320px;
    padding: 0;
    padding-bottom: 20px;
    text-align: center; }
    .window_2 .dd-tarif-form .dd-input_tr {
      width: 235px;
      height: 35px; }
    .window_2 .dd-tarif-form .dd-submit {
      width: 235px;
      height: 35px;
      margin: 0 auto;
      line-height: 10px; }
    .window_2 .dd-tarif-form .button-1 {
      margin-top: 15px;
      font-size: 10px !important; }

.table_left {
  float: left; }

.dd-title-1 {
  text-align: center;
  border-bottom: 1px solid #C7C7C7;
  padding-top: 26px;
  padding-bottom: 20px;
  margin-bottom: 30px; }
  .dd-title-1 span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #222; }

.dd-bold-title_pop {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900; }
  .dd-bold-title_pop span {
    font-size: 18px;
    font-weight: 300; }

.dd-small-title_pop {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #222;
  font-size: 18px; }

.dd-small-txt_pop {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.dd-img-wrap-1 {
  margin-bottom: 35px; }

.dd-img {
  text-align: center; }
  .dd-img img {
    margin: 0 auto; }

.dd-el-1 {
  padding-top: 40px; }
  .dd-el-1 .dd-input_pop {
    height: 47px;
    background: #fff;
    width: 100%;
    margin-bottom: 13px;
    border-top: 2px solid #888888; }
  .dd-el-1 .dd-submit {
    width: 100%;
    height: 60px;
    line-height: unset; }

.dd-title-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #222;
  font-size: 24px; }

.dd-grey-txt {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #8D8D8D;
  display: inline-block;
  padding-top: 10px; }

.dd-main-txt-2 {
  display: inline-block;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #212121;
  font-size: 18px; }
  .dd-main-txt-2 span {
    color: #e53935;
    font-size: 24px;
    font-weight: 700; }

.button-2 {
  margin-top: 10px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 30px;
  height: 59px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 54px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 25px;
  margin-right: 28px; }

.dd-title-2_wrap {
  padding-bottom: 15px; }

.dd-img-2 {
  display: none;
  padding-top: 46px; }

.dd-bg {
  background: #F4F4F4;
  padding-bottom: 15px; }

.dd-title_tr {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 20px; }

.dd-title_tr_sp {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #222; }

.dd-table_pop td {
  border: 1px solid #929292;
  width: 170px;
  height: 66px;
  vertical-align: middle;
  padding-left: 20px; }
  .dd-table_pop td .dd-table-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 24px; }
    .dd-table_pop td .dd-table-title i {
      font-size: 18px; }
    .dd-table_pop td .dd-table-title span {
      font-weight: 300;
      font-size: 14px; }
  .dd-table_pop td .dd-days {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #222; }
  .dd-table_pop td .dd-days_2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #222; }
    .dd-table_pop td .dd-days_2 b {
      font-weight: 800; }
  .dd-table_pop td .dd-table-title_red {
    color: red; }
    .dd-table_pop td .dd-table-title_red span {
      color: #222; }
  .dd-table_pop td .dd-price_td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #222; }
  .dd-table_pop td .tr-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #222; }
.dd-table_pop .border-none {
  border: none;
  line-height: 16px; }

.dd-table_left {
  padding-right: 10px; }

.dd-tarif-form {
  padding: 36px 0px;
  background: #E6E6E6;
  width: 945px;
  padding-left: 73px;
  padding-right: 73px;
  border-radius: 0px 0px 3px 3px; }
  .dd-tarif-form .dd-input_tr {
    background: #fff;
    width: 294px; }
  .dd-tarif-form .dd-submit {
    font-size: 12px !important;
    height: 60px;
    width: 283px;
    margin-left: -36px; }

.dd-form_box {
  margin-right: 30px; }
  .dd-form_box span:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #222; }
  .dd-form_box span:last-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #222; }

.checkbox {
  display: none; }

.checkbox-custom {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 7px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.47); }

.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 3px;
  bottom: 2px;
  left: 3px;
  background: red;
  border-radius: 10em; }

.checkbox_2:checked + .checkbox-custom_2::before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  top: -1px;
  right: 3px;
  bottom: 2px;
  left: 1px;
  background: url(../img/gal.png) no-repeat top center;
  border-radius: 10em; }

.dd-chek {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #212121;
  font-size: 14px; }

.dd-txt-radio {
  display: inline;
  padding-left: 0px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: black;
  border-bottom: 1px dashed black; }

.dd-txt-radio:hover {
  color: red;
  border-bottom: 1px dashed red; }

.dd-label {
  width: 154px;
  float: left; }

.mb25 {
  margin-bottom: 55px; }

.activeRed {
  color: red;
  border-bottom: 1px dashed red; }

.dd-grey-txt_2 {
  padding-top: 0;
  padding-left: 18px; }

.dd-align_center {
  text-align: center; }

.dd-bold {
  font-weight: 600; }

/* Select
==========================*/
.floats {
  float: left; }

.az-select {
  position: relative;
  cursor: pointer; }

.line-height26 {
  line-height: 26px; }

select {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #e53935;
  font-size: 18px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }

select::-ms-expand {
  display: none; }

.az-options {
  display: none;
  top: calc(100% + 2px);
  left: 0px;
  width: calc(100% + 4px);
  position: absolute;
  background: white;
  z-index: 6;
  padding-bottom: 8px;
  width: 40px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5); }

div[data-val] {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #black;
  padding-left: 5px;
  line-height: 20px;
  cursor: pointer; }

div[data-val]:hover {
  color: red; }

.az-select:before {
  content: '';
  position: absolute;
  top: 60%;
  transform: translate(0, -50%);
  right: -12px;
  width: 13px;
  height: 8px;
  background: url(../img/treg.png) no-repeat top left;
  z-index: 1; }

.az-select_style {
  position: relative;
  z-index: 2; }

.az-select_2 .az-options {
  width: 60px; }

.dd-dost {
  position: relative; }

.dd-dost_span {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #212121;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  position: relative; }

.dd-dost_span:after {
  content: "";
  position: absolute;
  background: url(../img/dd-v.png);
  width: 7px;
  height: 9px; }

.dd-podskazka {
  position: absolute;
  display: none;
  right: 7px;
  top: -288px;
  height: 280px;
  width: 260px;
  background: #fff;
  border: 1px solid grey;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 18px;
  line-height: 17px;
  z-index: 9999; }
  .dd-podskazka .dd-p-span {
    width: 256px; }
    .dd-podskazka .dd-p-span span {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #212121; }

.blocked {
  display: block; }

.dd-payments {
  padding-top: 35px;
  display: none; }

.error-input {
  border: 1px solid #FB5151 !important F; }

.win_2 {
  top: 50px;
  left: 396px; }

#log-in-1 .form-wrap-main {
  text-align: left; }
#log-in-1 .dd-close {
  right: 8px; }

@media only screen and (min-width: 320px) {
  .fl-left {
    float: left; }

  .dd-img-txt-1 {
    padding-left: 15px; }

  .dd-el-1_inp {
    width: 312px;
    margin: 0 auto; }

  .dd-el-1_txt {
    width: 310px;
    margin: 0 auto; }

  .window .form-wrap-main_5 {
    width: 300px; } }
.dd-select {
  padding-top: 6px; }

.pt-label {
  padding-top: 3px; }

.dd-select-but {
  padding-top: 30px; }

@media only screen and (min-width: 480px) {
  .dd-title-1 span {
    font-size: 36px; } }
@media only screen and (min-width: 768px) {
  .window_thanks {
    width: 450px !important; } }
@media only screen and (min-width: 992px) {
  .dd-close {
    right: 8px !important; }

  .dd-payments {
    display: block; }

  .dd-select-but, .dd-dost {
    float: left; }

  .dd-dost {
    padding-top: 53px;
    padding-left: 27px; }

  .dd-podskazka {
    right: -317px;
    top: -220px;
    height: 280px;
    width: 310px;
    border: unset;
    border-radius: unset;
    background: url(../img/dd-fon.png) no-repeat top center;
    padding-left: 30px; }

  .pt-label {
    margin-right: 76px; }

  .dd-select-box {
    float: left; }

  .dd-select-box_last {
    float: right; }

  .mr_inp {
    margin-right: 35px; }

  .dd-pop_left_5 {
    width: 279px !important;
    float: left; }

  .dd-pop_right_5 {
    width: 343px !important;
    float: right; }

  .form-wrap-main_bg {
    background: url(../img/muj.jpg) no-repeat top center !important;
    padding-bottom: 60px !important; }

  .pr28 {
    padding-right: 28px;
    width: 336px !important; }

  .dd-but_online {
    padding-right: 28px; }

  .dd-img-2 {
    display: block;
    float: left; }

  .form-wrap-main-2 {
    float: right; }

  .form-wrap-main {
    text-align: left; }

  .dd-el-1_inp {
    width: 312px;
    float: right; }

  .dd-el-1_txt {
    width: 330px;
    float: left; }

  .window {
    width: 808px;
    margin: 0 auto !important; }

  .dd-el_wrap {
    padding: 40px;
    padding-top: 0; }

  .dd-img-wrap-1 {
    margin-bottom: 9px; }

  .dd-inp-small {
    width: 109px !important;
    float: left;
    padding-left: 18px !important;
    font-size: 14px !important; }

  .dd-inp-small_2 {
    width: 79px !important;
    float: left; }

  .dd-akkordeon {
    background: url(../img/dm.jpg) no-repeat top center; }

  .dd-mob-akkordeon {
    display: none; }

  .dd-dek-akkordeon {
    display: block; }

  .dd-dek {
    font-size: 46px !important; }
    .dd-dek span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 46px !important; }

  .dd-dek2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 26px; }

  .faq {
    width: 88%;
    margin-top: 51px; }

  .faq__item {
    background: none;
    display: block;
    text-align: left;
    margin-bottom: 15px; }

  .faq-title {
    width: unset;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px dashed #ffde56;
    padding: 0;
    position: relative;
    margin-left: 15px; }

  .faq-title:after {
    position: absolute;
    content: "";
    background: url(../img/list2.png) no-repeat left center;
    width: 12px;
    height: 12px;
    left: -22px;
    top: 6px; }

  .faq-title:hover:after {
    background: url(../img/list.png) no-repeat left center; }

  .faq-content {
    border-top: none;
    padding: 24px 15px; }
    .faq-content p {
      font-size: 15px;
      padding-right: 20px;
      margin-bottom: 15px; }
      .faq-content p span {
        font-weight: 700;
        font-size: 15px; }

  .dd-active:after {
    background: url(../img/list.png) no-repeat left center; }

  .dd-title_ma span {
    font-size: 27px; }

  .window .form-wrap-main_5 {
    width: 805px;
    margin: 0 auto;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 74px; } }

/*# sourceMappingURL=style-dd.css.map */
