.clear {
  clear: both; }

.dfbg1 {
  padding: 30px 0;
  background-color: #eaeaea; }

.dfgirlbox {
  text-align: center; }

.dfcapgirl {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #212121;
  line-height: 50px; }
  .dfcapgirl b {
    font-weight: 800; }

.dfcapgirl2 {
  font-weight: 300;
  font-size: 30px;
  color: #212121;
  line-height: 48px;
  font-family: 'Open Sans', sans-serif; }
  .dfcapgirl2 span {
    font-weight: 800;
    color: #e53935; }

.dflink {
  padding-top: 27px;
  font-family: 'Open Sans', sans-serif; }
  .dflink a {
    display: inline-block;
    font-weight: 600;
    padding: 25px 55px;
    font-size: 18px;
    color: #272727;
    line-height: 22px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    background-color: #fcc938;
    background-image: linear-gradient(to top, #ffdc52 0%, #ffea72 100%);
    border-radius: 33px 34px 34px 33px;
    box-shadow: 0 4px 0 #ecc345, inset 0 0 4px rgba(255, 221, 82, 0.17); }

.dfbg2 {
  height: 245px;
  background-image: url("../img/paralax1.jpg");
  background-attachment: fixed;
  background-position: right 65% top 65%;
  background-size: 190%;
  background-repeat: no-repeat;
  overflow: hidden; }

.dffourbox {
  text-align: center;
  display: none; }

.dfparalaxbox {
  max-width: 230px;
  width: 100%;
  height: 131px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  margin-bottom: 20px;
  padding-top: 55px; }
  .dfparalaxbox span {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 22px; }

/*===============how=============*/
.dfbghow1 {
  background-image: url("../img/dfbg1mob.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0 20px 0 !important;
  position: relative;
  border-bottom: 4px solid #fff; }

.dfbghow1:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff; }

.dfcontainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.dfcaphow {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px !important;
  padding-top: 50px; }

.dfcapbottom {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 26px;
  color: #ffffff;
  line-height: 32px;
  text-align: center;
  margin-bottom: 50px;
  display: none; }

.dfhowblock {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-align: center; }

.dfhownumber {
  font-size: 73.6px;
  color: #fff;
  line-height: 75px;
  font-weight: 600;
  display: inline-block;
  text-shadow: 0 0 12.2px rgba(0, 0, 0, 0.34);
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 67px;
  left: 5px;
  display: none; }

.dfcaptionbox {
  display: inline-block;
  max-width: 480px;
  width: 100%;
  padding-top: 70px; }

.dfhcap1 {
  font-size: 20px;
  color: #000;
  line-height: 36px;
  font-weight: 600; }
  .dfhcap1 span {
    font-weight: 400; }

.dfhcap2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 15px 0 25px 0; }

.dfhcap3 {
  font-size: 15px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  margin-bottom: 40px; }
  .dfhcap3 b {
    font-weight: 700; }

.dfboxchar .dfimgcahr {
  display: none; }
.dfboxchar .dftxtbox {
  display: none; }
.dfboxchar .dfshowmob {
  display: block;
  margin: 0 auto; }
  .dfboxchar .dfshowmob .dfcaptxtbox {
    display: none; }

.dfimgcahr {
  display: inline-block;
  width: 115px;
  height: 115px;
  vertical-align: top; }

.dftxtbox {
  display: inline-block;
  padding-left: 5px;
  max-width: 405px;
  width: 100%; }
  .dftxtbox .dfcaptxtbox {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top; }
  .dftxtbox p {
    font-size: 15px;
    line-height: 22px;
    color: #c7c7c7;
    color: #000000;
    font-weight: 400; }
    .dftxtbox p b {
      font-weight: 600; }

/*section bg2*/
.dfbghow2 {
  background-image: url("../img/dfbg2mob.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0 50px 0 !important;
  position: relative;
  border-bottom: 4px solid #fff;
  font-family: 'Open Sans', sans-serif; }

.colorwhite {
  display: block;
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400; }
  .colorwhite b {
    font-weight: 600; }

.dfcapbottom2 {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  font-weight: 600;
  display: block;
  margin-top: 12px;
  margin-bottom: 30px; }

.dfcolor {
  color: #c5c5c5 !important;
  top: 0; }

.dfcolor2 .dfcaptxtbox {
  color: #fff !important; }
.dfcolor2 p {
  color: #fff !important; }

.dfbghow3 {
  background-image: url("../img/dfbg3mob.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0 50px 0 !important;
  position: relative;
  border-bottom: none;
  font-family: 'Open Sans', sans-serif; }
  .dfbghow3 .dfhowblock:after {
    display: none; }

/*======================menu================*/
.dfmenumobule {
  font-family: 'Open Sans', sans-serif; }

.dfmenucap {
  font-size: 20px;
  color: #212121;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px; }

.dfcallory {
  text-align: center; }

.dfcaloryesbox, .dfcaloryesbox2 {
  width: 65px;
  margin-right: 5px;
  display: inline-block; }
  .dfcaloryesbox .dfborder, .dfcaloryesbox2 .dfborder {
    border: 2px solid #212121;
    border-radius: 25px;
    padding: 8px 0;
    display: inline-block;
    width: 100%;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer; }
  .dfcaloryesbox a, .dfcaloryesbox2 a {
    color: #212121;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    display: inline-block;
    border-bottom: 1px dashed #212121; }
  .dfcaloryesbox span, .dfcaloryesbox2 span {
    display: inline-block;
    color: #212121;
    font-size: 10px;
    font-weight: 300;
    line-height: 8px; }

.dfborder:hover {
  border: 2px solid #e53935; }
  .dfborder:hover a {
    border-bottom: 1px dashed transparent;
    color: #e53935; }

.dfactivelinkmob {
  border: 2px solid #e53935 !important; }
  .dfactivelinkmob a {
    border-bottom: 1px dashed transparent !important;
    color: #e53935 !important; }

.dfcallory .dfcaloryesbox:last-child {
  margin-right: 0; }

.dfcallory .dfcaloryesbox2:last-child {
  margin-right: 0; }

.df3or5 {
  text-align: center;
  padding: 15px 0 17px 0;
  max-width: 480px;
  margin: 0 auto; }
  .df3or5 .df3 {
    color: #212121;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    width: 45%;
    background-color: #ededed;
    padding: 9px 0;
    transition: 0.4s; }
  .df3or5 .df5 {
    color: #212121;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    width: 45%;
    background-color: #ededed;
    padding: 9px 0;
    transition: 0.4s; }
  .df3or5 a:hover {
    background-color: #e53935;
    color: #fff; }
  .df3or5 span {
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    display: block; }

.df3active {
  background-color: #e53935 !important;
  color: #fff !important; }

.df5active {
  background-color: #e53935 !important;
  color: #fff !important; }

.dfweaks ul {
  text-align: center;
  max-width: 480px;
  margin: 0 auto; }

.dfweak {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  transition: 0.4s;
  padding: 3px 0;
  width: 12%; }
  .dfweak a {
    display: inline-block;
    color: #212121;
    width: 38px;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-decoration: underline; }
  .dfweak a:hover {
    background-color: #ededed;
    text-decoration: none !important;
    padding: 4px 6px;
    border-radius: 3px; }

.dfblockmenu {
  padding: 17px 0 0px 0; }

.dfmenubox1 {
  max-width: 480px;
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  height: 109px;
  margin-bottom: 11px;
  background-color: #ededed; }

.dfimgmenu {
  width: 20%;
  min-width: 114px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 109px;
  float: left; }
  .dfimgmenu img {
    width: 100%;
    height: auto; }

.dfmenutxt {
  vertical-align: top;
  float: left;
  display: inline-block;
  width: 62%;
  height: 109px;
  padding: 9px 5px 9px 12px;
  position: relative; }

.dfnameproduct {
  color: #111;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px; }

.dfcharmenu1 {
  color: #111;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  display: inline-block;
  padding-top: 7px; }

.dfcharmenu2 {
  color: #111;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block; }

.dfcharmenu3 {
  color: rgba(17, 17, 17, 0.14);
  font-size: 28px;
  font-weight: 700;
  line-height: 8px;
  float: right;
  display: inline-block;
  padding-right: 16px;
  position: absolute;
  bottom: 15px;
  right: -7px; }

.dfitogo {
  background-color: #e53935;
  border-radius: 3px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 0 10px 21px;
  margin-bottom: 25px; }

.dftxtitogo1 {
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  padding: 0 3px; }

.dftxtitogo2 {
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  display: inline-block;
  padding: 0 3px; }
  .dftxtitogo2 b {
    font-weight: 700; }

.dfmenulink {
  text-align: center; }
  .dfmenulink .dflink {
    color: #272727;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    padding: 22px 39px;
    background-color: #ffe15e;
    border-bottom: 3px solid #ecc345;
    border-radius: 35px;
    letter-spacing: 0.6px; }

/*==============menu-desktop=========*/
.dfmenudesktop {
  display: none; }

.jsmobactive {
  background-color: #ededed;
  text-decoration: none !important;
  padding: 4px 6px;
  border-radius: 3px; }

.df-fit-block, .df-fitplus-block, .df-sport-block, .df-sportplus-block {
  display: none; }

.dftabtop .dfmenuproducts {
  display: none; }

.dftabmob, .dfblockmenu {
  display: none; }

.jsdisabled {
  position: relative; }

.jsdisabled:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/waterblank.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*========================shtraffdemo js*/
.shtraf-item {
  display: none; }

.disabledinputjs {
  border: 1px solid red !important; }

#jsmobversion {
  display: block; }

#jstarif1 {
  display: none; }

@media only screen and (min-width: 768px) {
  .dfmenutxt {
    width: 73%; } }
@media only screen and (min-width: 992px) {
  .dfbg1 {
    padding: 120px 0;
    background-image: url("../img/girl1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

  .dfcapgirl {
    font-size: 46px; }

  .dfcapgirl2 {
    font-size: 40px; }

  .dfgirlbox {
    float: right;
    margin-right: 65px;
    margin-top: 23px;
    text-align: left; }

  .dfbg2 {
    background-position: center top 27%;
    background-size: cover;
    padding: 0;
    height: 415px; }

  .dfparalaxbox {
    margin-right: 45px;
    margin-bottom: 0;
    padding-top: 55px; }

  /*===============how=============*/
  .dfbghow1 {
    background-image: url("../img/dfbg1.jpg"); }

  .dfbghow2 {
    background-image: url("../img/dfbg2.jpg"); }

  .dfbghow3 {
    background-image: url("../img/dfbg3.jpg"); }

  .dfcapbottom2 {
    margin-bottom: 50px; }

  .dfbghow1 {
    padding: 55px 0 27px 0 !important;
    border-bottom: 7px solid #fff; }

  .dfbghow1:after {
    top: 210px;
    left: 0;
    height: 4px;
    display: block; }

  .dfcaphow {
    font-size: 46px !important;
    padding-top: 0px;
    margin-bottom: 7px; }

  .dfcapbottom {
    display: block; }

  .dfhowblock {
    padding-left: 131px;
    position: relative;
    padding-top: 70px;
    text-align: left; }

  .dfhowblock:after {
    content: "";
    position: absolute;
    top: 155px;
    left: 45px;
    width: 1px;
    height: 95%;
    border-left: 1px dashed #fff;
    z-index: 9; }

  .dfhownumber {
    display: block; }

  .dfcaptionbox {
    padding-top: 0px; }

  .dfhcap1 {
    font-size: 28px; }

  .dfhcap2 {
    font-size: 18px; }

  .dfboxchar {
    display: block;
    margin-left: -10px; }

  .dfboxchar {
    margin-bottom: 50px; }
    .dfboxchar .dfimgcahr {
      display: inline-block; }
    .dfboxchar .dftxtbox {
      display: inline-block; }
    .dfboxchar .dfshowmob {
      display: inline-block;
      margin: 0; }
      .dfboxchar .dfshowmob .dfcaptxtbox {
        display: block; }

  /*================== section2*/
  .dfbghow2 {
    padding: 50px 0 167px 0 !important;
    border-bottom: 7px solid #fff; }
    .dfbghow2 .dfhowblock:after {
      display: none; }

  .dfhowblock2 {
    position: relative;
    padding-top: 0px !important; }

  .dfhowblock2:before {
    content: "";
    position: absolute;
    top: 85px;
    left: 45px;
    width: 1px;
    height: 140%;
    z-index: 99;
    border-left: 1px dashed #6a6a70; }

  /*================== section3*/
  .dfbghow3 {
    padding: 0px 0 320px 0 !important; }
    .dfbghow3 .dfhowblock {
      padding-top: 55px;
      padding-left: 125px; }

  .postop {
    top: 50px; } }
@media only screen and (min-width: 1024px) {
  .dfmenumobulehidden {
    display: none; }

  .dfmenudesktop {
    display: block;
    padding: 70px 0 !important; }

  .dfcontainer2 {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto; }
    .dfcontainer2 .dfcallory {
      text-align: left; }
    .dfcontainer2 .dfcaloryesbox {
      text-align: center; }
    .dfcontainer2 .dfcaloryesbox2 {
      text-align: center; }

  .dfmenucap {
    font-size: 46px;
    margin-bottom: 45px; }

  .dfcaloryesbox, .dfcaloryesbox2 {
    width: auto;
    display: inline-block;
    position: relative;
    padding: 15px 30px 34px 30px; }
    .dfcaloryesbox .dfborder, .dfcaloryesbox2 .dfborder {
      border: 2px solid #212121;
      border-radius: 25px;
      padding: 0;
      padding: 15px 0;
      display: block;
      width: 149px;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
      cursor: default; }
    .dfcaloryesbox a, .dfcaloryesbox2 a {
      color: #212121;
      font-size: 14px;
      font-weight: 800;
      line-height: 18px;
      display: inline-block;
      position: relative;
      border-bottom: 1px dashed #212121; }
    .dfcaloryesbox span, .dfcaloryesbox2 span {
      display: inline-block;
      color: #212121;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      padding-top: 8px;
      letter-spacing: 0.02em; }

  .dfhoverbox1 {
    margin-left: -13px; }

  .dfactivelink {
    background-image: url("../img/hoveronbutton1.png") !important;
    background-repeat: no-repeat !important;
    background-position: top 1px right 181% !important; }

  .dfactivelink2 {
    background-image: url("../img/hoveronbutton2.png");
    background-repeat: no-repeat;
    background-position: top center; }

  .dfhoverbox1:hover {
    background-image: url("../img/hoveronbutton1.png");
    background-repeat: no-repeat;
    background-position: top 1px right 181%; }

  .dfhoverbox2:hover {
    background-image: url("../img/hoveronbutton2.png");
    background-repeat: no-repeat;
    background-position: top center; }

  .dfhoverbox3:hover {
    background-image: url("../img/hoveronbutton2.png");
    background-repeat: no-repeat;
    background-position: top center; }

  .dfhoverbox4:hover {
    background-image: url("../img/hoveronbutton2.png");
    background-repeat: no-repeat;
    background-position: top center; }

  .dfcaloryesbox:hover .dfborder, .dfcaloryesbox2:hover .dfborder {
    border: 2px solid #e53935; }
  .dfcaloryesbox:hover a, .dfcaloryesbox2:hover a {
    border-bottom: 1px dashed transparent;
    color: #e53935; }

  .dfpriemi {
    max-width: 145px;
    width: 100%;
    display: inline-block;
    margin-right: 20px;
    padding-top: 15px; }

  .df3priem {
    display: block;
    border: 2px solid #212121;
    padding: 12px 10px 3px 10px;
    border-radius: 25px;
    text-align: center;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-right: -3px; }
    .df3priem .dfdots {
      width: 7px;
      height: 7px;
      display: inline-block;
      background-color: #000;
      border: 1px solid #000;
      border-radius: 50%;
      margin-right: 2px; }
    .df3priem .dfdots:last-child {
      background-color: #fff; }
    .df3priem .dfdots:nth-child(2) {
      background-color: #fff; }

  .df3priem:hover {
    border: 2px solid #e53935;
    color: #e53935; }
    .df3priem:hover .dfdots {
      display: inline-block;
      background-color: #e53935;
      border: 1px solid  #e53935; }
    .df3priem:hover .dfdots:last-child {
      background-color: #fff; }
    .df3priem:hover .dfdots:nth-child(2) {
      background-color: #fff; }

  .df3priemactive {
    border: 2px solid #e53935;
    color: #e53935; }
    .df3priemactive .dfdots {
      display: inline-block;
      background-color: #e53935;
      border: 1px solid  #e53935; }
    .df3priemactive .dfdots:last-child {
      background-color: #fff; }
    .df3priemactive .dfdots:nth-child(2) {
      background-color: #fff; }

  .df5priem {
    display: block;
    border: 2px solid  #212121;
    padding: 12px 10px 3px 10px;
    border-radius: 25px;
    text-align: center;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 5px; }
    .df5priem .dfdots {
      width: 7px;
      height: 7px;
      display: inline-block;
      background-color: #000;
      border: 1px solid  #212121;
      border-radius: 50%;
      margin-right: 2px; }

  .df5priem:hover {
    border: 2px solid #e53935;
    color: #e53935; }
    .df5priem:hover .dfdots {
      background-color: #e53935;
      border: 1px solid #e53935; }

  .df5priemactive {
    border: 2px solid #e53935;
    color: #e53935; }
    .df5priemactive .dfdots {
      background-color: #e53935;
      border: 1px solid #e53935; }

  .dfmenuproducts {
    text-align: left;
    background-color: #efefef;
    padding: 18px 17px;
    border-radius: 5px 5px 0 0;
    margin-top: -13.3px;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.23);
    text-align: center; }

  .dfmenuproductbox {
    max-width: 212px;
    max-width: 191px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    min-height: 345px;
    margin-right: 3px;
    vertical-align: top; }

  .dfmenuproducts .dfmenuproductbox:last-child {
    margin-right: 0; }

  .dfimgproduct {
    width: 100%;
    height: 145px; }
    .dfimgproduct img {
      width: 100%;
      height: auto;
      display: inline-block; }

  .dfmenucharacteristic {
    padding: 18px 12px 12px 17px;
    position: relative;
    text-align: left; }

  .dfnameproduct {
    font-size: 14px;
    line-height: 18px; }

  .dfcharmenu1 {
    font-size: 14px;
    line-height: 18px; }

  .dfcharmenu2 {
    font-size: 14px;
    display: block;
    line-height: 18px;
    padding-top: 10px; }

  .dfcharmenu3 {
    font-size: 100px;
    display: block;
    line-height: 75px;
    padding-right: 0;
    float: none;
    position: absolute;
    bottom: 25px;
    right: 17px; }

  .dfmenudateweak {
    position: relative; }
    .dfmenudateweak ul {
      background-color: #7d7d7d;
      padding: 7px 35px 10px 100px;
      text-align: left; }

  .dfmenuprev, .dfmenunext {
    background-image: url("../img/prev.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 37px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 42px;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

  .dfmenuprev:hover, .dfmenunext:hover {
    background-color: #e53935; }

  .dfmenunext {
    background-image: url("../img/next.png");
    left: unset;
    right: 35px; }

  .dfdaysmenu {
    display: inline-block;
    margin: 4px 20px 0 0; }
    .dfdaysmenu a {
      padding: 1px 16px;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      color: white;
      text-decoration: underline;
      border-radius: 3px;
      -o-transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .dfdaysmenu a:hover {
      color: #212121;
      background-color: #fff;
      text-decoration: none; }

  .jsweakactive {
    color: #212121 !important;
    background-color: #fff;
    text-decoration: none !important; }

  .dfmenulink {
    background-color: #e53935;
    display: block;
    border-radius: 0 0 3px 3px;
    padding: 12px 0px 10px 36px;
    text-align: left; }
    .dfmenulink .dflink {
      padding: 20px 39px;
      letter-spacing: unset; }

  .dfitogobox {
    display: inline-block;
    max-width: 680px;
    width: 100%;
    text-align: left; }

  .dftxtitogo1 {
    font-size: 18px;
    margin-right: 19px; }

  .dftxtitogo2 {
    margin-right: 19px;
    font-size: 14px; }
    .dftxtitogo2 b {
      font-size: 18px; }

  .dflinktarif {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    display: inline-block;
    margin-left: 25px;
    border-bottom: 1px dashed #fff;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

  .dflinktarif:hover {
    border-bottom: 1px dashed transparent; }

  #jstarif1 {
    display: block; }

  #jsmobversion {
    display: none; } }
@media only screen and (min-width: 1248px) {
  .dffourbox {
    text-align: center;
    display: block; }

  .dfmenuproductbox {
    max-width: 212px;
    margin-right: 15px;
    min-height: 330px; }

  .dfdaysmenu {
    margin: 4px 44px 0 0; }

  .dfpriemi {
    max-width: 245px;
    width: 100%;
    float: right; }

  .df3priem {
    display: inline-block;
    padding: 12px 13px 3px 25px;
    border-radius: 25px 0 0 25px;
    text-align: left; }

  .df5priem {
    display: inline-block;
    padding: 12px 14px 3px 15px;
    border-radius: 0 25px 25px 0;
    text-align: left;
    margin-top: 0px; } }

/*# sourceMappingURL=style-df.css.map */
