@import "reset.css";
@import "fonts.css";


.clear{
	clear: both;
}
.center{
	text-align: center;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 46px;
}
.podzagolovok{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 26px;
}
.button-1{
	display: inline-block;
	width: 255px;
	height: 68px;
	background-color: #8bc34a;
	background-image: -webkit-linear-gradient(bottom, #ffdc52 0%, #ffea72 100%);
	background-image: linear-gradient(to top, #ffdc52 0%, #ffea72 100%);
	border-radius: 33px;
	box-shadow: 0 4px 0 #ecc345, inset 0 0 4px rgba(255, 221, 82, 0.17);
	line-height: 66px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color:black;
	text-align: center;
}
.button-1:hover{
	background:#fff2a5;
	color:black;
}
.section_padding{
	padding: 25px 0px;
	background-color: #fff;
}
.dd-input{
	outline: none;
	height: 53px;
	background: #e6e6e6;
	border-radius: 26px;
	border:none;
	border-top: 2px solid #CECECE;
	padding-left: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
}
.dd-submit{
	outline: none;
	border:none;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

@import "style-db.css";
// @import "style-dc.css";
@import "style-dd.css";
@import "style-de.css";
@import "style-df.css";
// @import "style-dg.css";
// @import "style-dh.css";
// @import "style-dj.css";
// @import "style3.css";
// @import "style4.css";
// @import "style5.css";
// @import "style6.css";
// @import "style7.css";
// @import "style8.css";
// @import "style9.css";
// @import "style10.css";