.questions, .dd-want-view { background: url(../img/questions.jpg) top center/cover; height: 521px; padding: 83px 0 25px !important; font-family: 'Open Sans', arial, sans-serif; }
.questions .form-wrap, .dd-want-view .form-wrap { padding: 15px 0 20px; }
.questions .phone, .dd-want-view .phone { font-size: 36px; color: #212121; font-weight: 700; display: block; margin-top: -8px; }
.questions .input-wrap, .dd-want-view .input-wrap { display: inline-block; background: #fff; margin-right: -39px; padding-right: 28px; border-radius: 26px; margin-bottom: 15px; }
.questions .input-wrap input, .dd-want-view .input-wrap input { background: none; box-shadow: none; border-top: none; }

.in { float: right; width: 50%; }
.in p { font-size: 18px; padding: 10px 0; color: #7f7f81; max-width: 485px; line-height: 28px; font-weight: 600; }

.dd-want-view { background-image: url(../img/want.jpg); }
.dd-want-view h2 { line-height: 48px; }
.dd-want-view .descr { font-size: 24px; color: #212121; font-weight: 900; display: block; padding: 10px 0 20px; }
.dd-want-view .descr b { display: block; }
.dd-want-view .descr i { color: #e53935; }
.dd-want-view .input-wrap { background: #e6e6e6; border-top: 2px solid #cdcdcd; }

.testimonials { font-family: 'Open Sans', arial, sans-serif; padding: 50px 0 70px; background: #e9e9e9; }
.testimonials__head { text-align: center; padding: 10px 0 40px; }
.testimonials__head p { color: #7d7d7d; font-size: 26px; max-width: 580px; margin: 0 auto; }
.testimonials__head i { font-weight: 900; }
.testimonials__items { position: relative; }
.testimonials .item { width: 100%; overflow: hidden; margin: 0 auto; }
.testimonials .item img { width: 100%; height: auto; display: block; }
.testimonials .owl-item { padding: 0 15px; }
.testimonials .owl-prev, .testimonials .owl-next { cursor: pointer; display: none; position: absolute; top: 50%; margin-top: -14px; left: 0; display: block; width: 14px; height: 28px; background: url(../img/owl-arrow.png); color: transparent; }
.testimonials .owl-next { left: auto; right: 0; transform: scale(-1, 1); }
.testimonials .owl-dots { display: none !important; text-align: center; padding: 10px; }
.testimonials .owl-dot { width: 10px; height: 10px; display: inline-block; margin: 3px 5px 4px 3px; background: #cbcbcb; border-radius: 50%; }
.testimonials .owl-dot.active { background: #e53935; }

.tarif { font-family: 'Open Sans', arial, sans-serif; padding: 50px 0 60px; background: #e9e9e9 url(../img/tarif.jpg) top center/cover; }
.tarif__head { text-align: center; padding: 10px 0 40px; }
.tarif__head h2 { color: #fff; }
.tarif__head p { color: #7d7d7d; font-size: 26px; max-width: 686px; margin: 0 auto; line-height: 27px; padding: 25px 0 10px; }
.tarif .individual { padding-top: 25px; display: block; text-align: center; font-size: 14px; color: #707070; text-decoration: underline; }

.shtraf-mini { display: none; }

.shtraf { font-family: 'Open Sans', arial, sans-serif; }
.shtraf .nav { padding: 10px 0; font-size: 14px; display: block; float: left; color: rgba(37, 32, 34, 0.65); background: #e3e3e3; border-right: 1px solid #bababa; width: 14.2857%; text-align: center; font-weight: 300; }
.shtraf .nav a { display: block; font-weight: 300; color: #252022; }
.shtraf .nav a i { text-decoration: underline; }
.shtraf .nav.active { background: #ffe76b; color: #252022; font-weight: 600; }
.shtraf .inner { text-align: center; padding: 60px 0; }
.shtraf p { padding: 20px 0 40px; max-width: 702px; margin: 0 auto; font-size: 26px; color: #8c8c8c; font-family: 'Myriad Pro', arial, sans-serif; }
.shtraf .descr { color: #222; font-size: 18px; position: relative; font-weight: 900; padding-bottom: 40px; display: block; }
.shtraf .descr::before { content: ""; position: absolute; display: block; background: #e53935; height: 2px; width: 60px; left: 50%; bottom: 25px; margin-left: -30px; }
.shtraf .input-wrap { display: inline-block; margin: 0 15px 15px; }
.shtraf .btn-wrap { max-width: 1000px; margin: 0 auto; }
.shtraf .shtraf__link { display: inline-block; text-decoration: underline; padding: 8px 0 0; color: #8c8c8c; font-size: 14px; }
.shtraf .input-number { border-radius: 24px; background: #efefef; margin-left: 8px; border-width: 1px; text-align: center; }
.shtraf .shtraf__btn { margin: 0 10px 20px; height: 54px; width: 200px; color: #222; font-size: 16px; border: 2px solid #222; border-radius: 24px; background: none; font-weight: 900; }
.shtraf .shtraf__btn span { border-bottom: 1px dashed #222; }
.shtraf .shtraf__btn i { color: #222; font-size: 14px; font-weight: 300; display: block; }
.shtraf .shtraf__btn--big { width: 290px; height: 62px; border-radius: 38px; }
.shtraf .shtraf__btn--red { border-color: #e53935; color: #e53935; }
.shtraf .shtraf__btn--next { height: 41px; width: 124px; }
.shtraf .shtraf__btn--next:hover { color: #e53935; border-color: #e53935; }
.shtraf .shtraf__btn--eat { max-width: 460px; width: 100%; height: 67px; border-radius: 38px; }
.shtraf .shtraf__btn--eat b { font-weight: 900; }
.shtraf .half { width: 47%; display: inline-block; }
.shtraf .half .btn-dots { text-align: center; margin-top: -12px; }
.shtraf .half .btn-dots i { border-radius: 50%; width: 9px; height: 9px; background: #9d9d9d; display: inline-block; margin: 3px; }
.shtraf .half .btn-dots .empty { background: none; border: 1px solid #9d9d9d; }
.shtraf .end { padding-bottom: 25px; text-align: left; }
.shtraf .end__item { min-height: 255px; border-right: 1px solid #e4e4e4; padding: 0 40px; color: #212121; font-weight: 300; }
.shtraf .end__item.col-md-2 { padding: 0 15px; }
.shtraf .end__item.col-md-6 { border: none; }
.shtraf .end__item.col-md-6 .end__title { font-size: 14px; padding-bottom: 15px; }
.shtraf .end__title { font-size: 18px; display: block; padding: 3px 0; }
.shtraf .end__tarif { font-size: 24px; font-weight: 900; display: block; }
.shtraf .end__info { padding-bottom: 30px; }
.shtraf .end__info span { display: block; font-size: 14px; }
.shtraf .end__info i { font-size: 14px; color: #bcbcbc; }
.shtraf .end__price span { font-size: 18px; display: block; }
.shtraf .end__price span b { font-weight: 900; color: #e53935; font-size: 24px; }
.shtraf .end__price i { display: block; font-size: 14px; }
.shtraf .end .kkal { font-size: 36px; font-weight: 900; display: block; }
.shtraf .end .input-block { margin-bottom: 10px; margin-right: 10px; }
.shtraf .end .input-block input[type="text"] { max-width: 386px; width: 100%; }
.shtraf .end .input-block input[type="submit"] { width: auto; font-size: 13px; line-height: 50px; height: 53px; padding: 0 22px; }
.shtraf .end .input-block--half { width: 48%; max-width: 200px; display: inline-block; }
.shtraf .choose-wrap { max-width: 650px; position: relative; }
.shtraf .choose { float: left; min-width: 220px; padding-bottom: 20px; }
.shtraf .choose span { font-size: 14px; color: #212121; font-weight: 300; }
.shtraf .choose select { width: auto; -webkit-appearance: menulist-button; cursor: pointer; font-size: 18px; color: #e53935; font-weight: 900; border: none; }
.shtraf .about { float: right; padding-bottom: 20px; }
.shtraf .about a { color: #212121; font-size: 14px; text-decoration: underline; position: relative; padding-right: 8px; }
.shtraf .about a::before { content: "?"; color: #e53935; font-size: 14px; position: absolute; top: -4px; right: -9px; font-weight: 900; }
.shtraf .about-in:hover .has-tooltip { display: block; }
.shtraf .has-tooltip { display: none; width: 300px; padding: 15px 22px 7px; background: #f5f5f5; border: 1px solid #ededed; position: absolute; bottom: 31px; right: -305px; }
.shtraf .has-tooltip p { font-family: 'Open Sans', arial, sans-serif; font-weight: 300; font-size: 14px; color: #212121; padding: 0 0 15px; }
.shtraf .has-tooltip::before { content: ""; position: absolute; background: url(../img/corner-tooltip.png); width: 24px; height: 35px; left: -6px; bottom: -14px; }
.shtraf .has-tooltip::after { display: none; content: ""; position: absolute; background: url(../img/corner-tooltip.png); width: 24px; height: 35px; right: -6px; bottom: -14px; transform: scale(-1, 1); }
.shtraf .delivery { border: none; }
.shtraf .delivery .dd-input { margin: 0 15px 15px; font-weight: 400; color: #222; font-size: 14px; padding: 0 10px 0 16px; }
.shtraf .delivery .input--city { width: 185px; }
.shtraf .delivery .input--str { width: 265px; }
.shtraf .delivery .input--home { width: 110px; margin: 0 15px 0 0; }
.shtraf .delivery .input--pod { width: 110px; }
.shtraf .delivery .input--phone { width: 110px; }
.shtraf .delivery .input--stage { width: 85px; }
.shtraf .delivery .input--kv { width: 110px; }
.shtraf .delivery .end__title { width: 160px; display: inline-block; float: left; font-size: 18px; }
.shtraf .end__pay { max-width: 660px; }
.shtraf .end__pay .dd-submit { float: left; line-height: 50px; height: 50px; width: 173px; font-size: 13px; }
.shtraf .end__pay .img-wrap { float: right; padding-top: 8px; }
.shtraf .btn-wrap-mini { max-width: 460px; }
.shtraf .btn-wrap-mini button { width: 205px; height: 50px; }

.shtraf-mini { margin: 0 auto; width: 320px; padding: 0 22px; }
.shtraf-mini h2 { font-weight: 400; font-size: 20px; text-align: center; padding-bottom: 15px; }
.shtraf-mini .select-wrap { width: 276px; }
.shtraf-mini .border-red { border-color: #e53935; }
.shtraf-mini select { cursor: pointer; border: 2px solid #222; background: #f4f4f4; margin: 0 auto 10px; width: 100%; border-radius: 3px; padding: 0 14px; color: #222; font-size: 12px; font-weight: 900; height: 37px; -webkit-appearance: menulist-button; }
.shtraf-mini .input-mini { width: 85px; border: 2px solid #222; float: left; border-radius: 3px; margin-bottom: 10px; padding: 0 14px; color: #222; font-size: 12px; font-weight: 900; line-height: 37px; background: #f4f4f4; }
.shtraf-mini .input-mini.border-red { border: 2px solid #e53935; margin: 0 10px 10px; }
.shtraf-mini .border-red select { border: 2px solid #e53935; }
.shtraf-mini .dd-submit { height: 52px; line-height: 52px; width: 100%; font-size: 13px; margin: 5px 0; }
.shtraf-mini .link { font-size: 14px; color: #b7b7b7; display: block; text-align: center; padding: 15px 0; text-decoration: underline; }
.shtraf-mini input::-webkit-input-placeholder { color: #222; }
.shtraf-mini input:-moz-placeholder { color: #222; }

.tab { padding: 0 29px 0; float: left; width: 25%; position: relative; }
.tab:first-child { padding-right: 45px; }
.tab:first-child .tab-in { margin-left: -25px; }
.tab:last-child { padding-left: 45px; }
.tab:last-child .tab-in { margin-right: -25px; }
.tab .tab-in { border-radius: 12px 19px 0; padding: 15px 20px 0; }
.tab img { position: absolute; display: none; top: 0; left: 0; }
.tab span { cursor: pointer; border-radius: 35px; border: 2px solid #fff; color: #fff; font-size: 16px; font-weight: 900; text-align: center; width: 100%; line-height: 55px; display: block; margin: 0 auto; }
.tab span b { border-bottom: 1px dashed #fff; }
.tab i { display: block; text-align: center; padding: 8px 0; font-size: 14px; font-weight: 300; color: #fff; }

.tab.active { background: url(../img/tab-bg.png) no-repeat; background-size: cover; }
.tab.active img { display: block; }
.tab.active span { color: #ffe76b; border-color: #ffe76b; }
.tab.active span b { border: none; }

.tab:first-child.active { background-image: url("../img/tab-bg-first.png"); }

.tab:last-child.active { background-image: url("../img/tab-bg-last.png"); }

.tab-content { background: rgba(0, 0, 0, 0.2); padding: 27px 10px; -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3); }
.tab-content .price i { font-size: 36px; color: #e53935; font-weight: 900; }
.tab-content .price b { font-size: 14px !important; }
.tab-content .price span { display: block; }
.tab-content .block { padding: 15px 23px 23px; background: rgba(0, 0, 0, 0.75); border-bottom: 1px solid rgba(39, 39, 40, 0.7); color: #fff; }
.tab-content .block span { font-size: 14px; }
.tab-content .block b { font-size: 30px; font-weight: 900; }
.tab-content .block .dd-submit { width: 100%; font-size: 18px; line-height: 52px; height: 52px; margin-top: 15px; }
.tab-content .block .de-dots i { border-radius: 50%; width: 8px; height: 8px; background: #ffe76b; display: inline-block; margin: 4px; }
.tab-content .block .de-dots .empty { background: none; border: 1px solid #ffe76b; }
.tab-content .col-md-12 { display: none; }
.tab-content .last-block { border-bottom: none; }
.tab-content .last-block b { display: block; font-size: 18px; }

@media only screen and (max-width: 1450px) { .shtraf .has-tooltip { right: 0; }
  .shtraf .has-tooltip::before { display: none; }
  .shtraf .has-tooltip::after { display: block; } }
@media only screen and (max-width: 1200px) { .shtraf .end__item { padding: 0 15px; }
  .shtraf .delivery .input--home { margin: 0 13px 15px 0; }
  .tab span { line-height: 39px; } }
@media only screen and (max-width: 1000px) { .shtraf-item { display: none; }
  .shtraf-mini { display: block; }
  .questions h2, .dd-want-view h2, .testimonials h2 { font-size: 20px; }
  .testimonials .item { padding: 0 10px; }
  .dd-want-view { background: url(../img/want.jpg) bottom left no-repeat; }
  .dd-want-view h2 { line-height: 1.3; width: 240px; }
  .dd-want-view .in { float: none; width: 70%; }
  .dd-want-view .descr { font-size: 20px; width: 240px; }
  .dd-want-view p { display: none; }
  .dd-want-view .input-wrap { margin-right: 0; width: 186px; display: block; }
  .dd-want-view .input-wrap .dd-input { font-size: 14px; padding: 0 15px; height: 43px; }
  .dd-want-view .dd-submit { height: 43px; width: 186px; font-size: 14px; line-height: 43px; }
  .tarif h2 { font-size: 20px; }
  .tarif .tarif__head p { display: none; }
  .tarif .tab { padding: 0 !important; background: none !important; }
  .tarif .tab .tab-in { padding: 10px; margin: 0; }
  .tarif .tab .tab-in span { display: none; }
  .tarif .tab .tab-in i { font-size: 10px; opacity: 0.8; }
  .tarif .tab .tab-in em { cursor: pointer; border-radius: 35px; border: 2px solid #fff; color: #fff; font-size: 10px; font-weight: 900; text-align: center; width: 100%; line-height: 34px; display: block; margin: 0 auto 5px; }
  .tarif .tab .tab-in em strong { border-bottom: 1px dashed #fff; }
  .tarif .tab.active em { color: #fae76b; border-color: #fae76b; }
  .tarif .tab.active em strong { border: none; }
  .tabs-block { width: 100%; max-width: 480px; margin: 0 auto; }
  .tab-content { background: none; padding: 0; box-shadow: none; }
  .tab-content .col-md-3 { display: none; }
  .tab-content .col-md-12 { display: block; }
  .tab-content .inner { background: rgba(0, 0, 0, 0.75); padding: 15px; }
  .tab-content .block { background: none; border: none; padding: 0; }
  .tab-content .block span { display: block; font-size: 10px; padding: 3px; }
  .tab-content .block span b { font-size: 16px; }
  .tab-content .block span em { font-size: 10px; font-weight: 900; color: #fff; display: inline-block; padding-right: 8px; }
  .tab-content .col-md-12 { padding: 0; margin-bottom: 20px; }
  .tab-content .right { float: left; width: 50%; }
  .tab-content .price { float: left; width: 50%; text-align: right; }
  .tab-content .price i { font-size: 19px; }
  .tab-content .price span { font-size: 8px; padding-right: 50px; }
  .tab-content .price input.dd-submit { font-size: 11px; max-width: 120px; line-height: 32px; height: 32px; margin-bottom: 10px; }
  .questions .in p { font-size: 14px; line-height: 18px; }
  .questions .in .button-1 { font-size: 15px; width: 170px; } }
@media (min-width: 770px) and (max-width: 1000px) { .questions .in .button-1 { font-size: 15px; width: 170px; } }
@media only screen and (max-width: 770px) { .questions, .dd-want-view, .testimonials { padding: 35px 0 30px !important; height: auto; }
  .questions h2, .dd-want-view h2, .testimonials h2 { font-size: 20px; }
  .testimonials { background: none; }
  .testimonials__head { padding-bottom: 20px; }
  .testimonials .item { padding: 0; border: 1px solid #e9ecf1; }
  .testimonials p { display: none; }
  .testimonials .owl-prev, .testimonials .owl-next { display: block; }
  .testimonials .owl-dots { display: block !important; }
  .dd-want-view { background: url(../img/want-mini.jpg) right bottom 40px no-repeat; padding-bottom: 40px; }
  .dd-want-view .descr { font-size: 14px; }
  .questions { background: url(../img/questions-mini.jpg) no-repeat; background-size: cover; text-align: center; }
  .questions .in { float: none; max-width: 320px; width: 100%; color: #fff; padding: 0 12px; margin: 0 auto; }
  .questions .in .input-wrap { margin-right: 0; padding-right: 0; width: 100%; }
  .questions .in input { width: 277px; height: 48px; line-height: 48px; font-size: 15px; text-align: center; padding-left: 0; width: 100%; }
  .questions p { color: #fff; text-align: center; font-weight: 300; }
  .questions p span { display: inline-block; }
  .questions .phone { font-size: 30px; color: #fff; } }
@media only screen and (max-width: 400px) { .testimonials .owl-prev { left: -10px; }
  .testimonials .owl-next { right: -10px; }
  .testimonials .owl-dot { width: 6px; height: 6px; margin: 3px 2px 3px 3px; } }
.form-order { font-family: 'Open Sans', arial, sans-serif; width: 320px; margin: 0 auto; }
.form-order .title { display: block; margin: 0 auto; color: #222; font-size: 20px; text-align: center; max-width: 240px; padding: 20px 0; }
.form-order .subtitle { text-align: center; display: block; padding-bottom: 18px; border-bottom: 2px solid #d8d8d8; font-size: 13px; font-weight: 300; color: #212121; }
.form-order .subtitle i { color: #e53935; font-weight: 900; font-size: 18px; display: inline-block; padding: 0 2px; }
.form-order .info { padding: 18px 0 20px; }
.form-order .info .half { width: 50%; float: left; padding: 0 5px 0 20px; }
.form-order .info span { display: block; font-size: 13px; font-weight: 300; color: #212121; padding-bottom: 2px; }
.form-order .info b { font-weight: 900; color: #212121; font-size: 18px; display: block; }
.form-order .info em { font-weight: 300; font-size: 10px; color: #212121; display: block; }
.form-order .info i { font-weight: 300; font-size: 13px; color: rgba(33, 33, 33, 0.5); display: block; }
.form-order .info .price { margin-top: 20px; float: left; width: 100%; padding: 8px 10px 8px 20px; background: #717171; }
.form-order .info .price span { display: inline-block; width: 40%; color: #fff; margin-right: 5%; }
.form-order .info .price span i { display: inline-block; padding: 0 2px; color: #fff; font-size: 18px; font-weight: 900; }
.form-order .info .price span b { display: inline-block; padding: 0 2px; color: #fff; font-size: 12px; font-weight: 900; }
.form-order .info p { float: left; font-weight: 300; padding: 20px; font-size: 13px; color: #212121; }
.form-order .input-wrap { float: left; width: 100%; margin: 0 auto 10px; }
.form-order .input-wrap input { border: 1px solid #cecece; -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75); box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75); background: #e9e9e9; padding: 10px; font-size: 13px; color: #545454; width: 100%; line-height: 40px; }
.form-order .dd-submit { float: left; font-size: 10px; height: 40px; line-height: 40px; width: 48%; }
.form-order .dd-submit-left { margin-right: 4%; }
