.clear{
	clear: both;
}

.dfbg1{	
	padding: 30px 0;
	background-color: #eaeaea;
}
.dfgirlbox{
	text-align: center;
}
.dfcapgirl{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 35px;
	color: #212121;
	line-height: 50px;
	b{
		font-weight: 800;
	}	
}
.dfcapgirl2{	
	font-weight: 300;
	font-size: 30px;
	color: #212121;
	line-height: 48px;
	font-family: 'Open Sans', sans-serif;
	span{
		font-weight: 800;
		color: #e53935;
	}
}
.dflink{
	padding-top: 27px;
	font-family: 'Open Sans', sans-serif;
	a{
		display: inline-block;
		font-weight: 600;
		// padding: 10px 25px;
		padding: 25px 55px;
		font-size:18px;
		color: #272727;
		line-height: 22px;
		letter-spacing: 0.7px;
		text-transform: uppercase;		
		background-color: #fcc938;
		background-image: -webkit-linear-gradient(bottom, #ffdc52 0%, #ffea72 100%);
		background-image: linear-gradient(to top, #ffdc52 0%, #ffea72 100%);
		border-radius: 33px 34px 34px 33px;
		box-shadow: 0 4px 0 #ecc345, inset 0 0 4px rgba(255, 221, 82, 0.17);
	}
}
.paralaxsection{
	position: relative;	
	width: 100%;
	// overflow: hidden;
	// height: 400px;
	height: 245px;
	z-index: -1;
}
.dfbg2{	
	width: 100%;
	height: 100% !important;	
	background-image: url("../img/paralax1.jpg");	   
    background-attachment: fixed;  
    top:-1px;
    left: 0; 
	background-position:right 65% top 65%;	
	position: fixed;
	background-size: 190%;		
	background-repeat: no-repeat;	
}
.dffourbox{
	text-align: center;
	display: none;
}
.dfparalaxbox{
	max-width: 230px;
	width: 100%;
	height: 131px;
	display: inline-block;
	text-align: center;
	background-color: #fff;	
	margin-bottom: 20px;	
	padding-top: 55px;
	span{
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #000000;
		line-height: 22px;		
	}
}







/*===============how=============*/

.dfbghow1{		 
	background-image: url("../img/dfbg1mob.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px 0 20px 0 !important;
	position: relative;	
	border-bottom: 4px solid #fff;
}
.dfbghow1:after{
	content: "";
	position: absolute;
	top:120px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;	
}
.dfcontainer{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
.dfcaphow{
	text-align: center;
	margin-bottom: 15px;
	color: #fff;
	font-size: 20px !important; 
	padding-top: 50px ; 
}
.dfcapbottom{
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 26px;
	color: #ffffff;
	line-height: 32px;
	text-align: center;
	margin-bottom: 50px;
	display: none;
}





.dfhowblock{	
	font-family: 'Open Sans', sans-serif;	
	position: relative;	
	text-align: center;
}

.dfhownumber{
	font-size: 73.6px;
	color: #fff;
	line-height: 75px;
	font-weight: 600;
	display: inline-block;
	text-shadow: 0 0 12.2px rgba(0, 0, 0, 0.34);
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top:67px;
	left: 5px;
	display: none;
}
.dfcaptionbox{
	display: inline-block;
	max-width: 480px;
	width: 100%;
	padding-top: 70px;//////////////
}
.dfhcap1{	
	font-size: 20px;
	color: #000;
	line-height: 36px;
	font-weight: 600;	
	span{
		font-weight: 400;
	}
}	
.dfhcap2{
	font-weight: 800;	
	font-size: 16px;
	line-height: 28px;
	color: #8c8c8c;
	margin: 15px 0 25px 0;
	
}
.dfhcap3{
	font-size: 15px;
	line-height: 22px;
	color: #000;
	font-weight: 400;
	margin-bottom: 40px;
	
	b{
		font-weight: 700;
	}
}


.dfboxchar{	
	// margin-bottom: 50px;
	// display: none; ////////////////
	.dfimgcahr{
		display: none;
	}
	.dftxtbox{
		display: none;
	}
	.dfshowmob{
		display: block;
		margin: 0 auto;
		.dfcaptxtbox{
			display: none;
		}
	}
}
.dfimgcahr{
	display: inline-block;
	width: 115px;
	height: 115px;
	vertical-align: top;

}
.dftxtbox{
	display: inline-block;
	padding-left: 5px;	
	max-width: 405px;
	width: 100%;
	.dfcaptxtbox{
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 10px;
		vertical-align: top;
	}
	p{
		font-size: 15px;
		line-height: 22px;
		color: #c7c7c7;
		color: #000000;
		font-weight: 400;
		b{
			font-weight: 600;	
		}
	}
}





/*section bg2*/
.dfbghow2{
	background-image: url("../img/dfbg2mob.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// padding: 50px 0 120px 0 !important;
	padding: 70px 0 50px 0 !important;
	position: relative;	
	border-bottom: 4px solid #fff;
	font-family: 'Open Sans', sans-serif;
}
.colorwhite{
	display: block;	
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
	b{
		font-weight: 600;
	}	
}
.dfcapbottom2{
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
	font-weight: 600;
	display: block;	
	margin-top: 12px;	
	// margin-bottom: 50px;
	margin-bottom: 30px;
}
.dfcolor{
	color: #c5c5c5 !important;
	top:0;
}
.dfcolor2{	
	.dfcaptxtbox{
		color: #fff !important;
	}
	p{
		color: #fff !important;
	}
}

.dfbghow3{
	background-image: url("../img/dfbg3mob.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// padding: 0px 0 270px 0 !important;
	padding: 70px 0 50px 0 !important;
	position: relative;	
	border-bottom: none;
	font-family: 'Open Sans', sans-serif;
	.dfhowblock:after{			
		display: none;
	}	
}








/*======================menu================*/


.dfmenumobule{
	font-family: 'Open Sans', sans-serif;
}
.dfmenucap{
	font-size: 20px;
	color: #212121;
	line-height: 50px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 8px;
}

.dfcallory{
	text-align: center;
	max-width: 405px;
	margin: 0 auto;
	padding-left: 1%;
}
.dfmenudesktop{
	.dfcallory{
		padding-left: 0 !important;
	}
}
.dfcaloryesbox, .dfcaloryesbox2{	
	// width: 65px;
	width: 22%;
	margin-right: 5px;
	display: inline-block;		
	.dfborder{
		border: 2px solid #212121;
		border-radius: 25px;
		padding: 8px 0;
		display: inline-block;
		width: 100%;
		-o-transition:0.5s;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		transition:0.5s;
		cursor: pointer;
	}
	a{
		color: #212121;		
		font-size: 10px;
		font-weight: 700;
		line-height: 11px;
		display: inline-block;		
		border-bottom: 1px dashed #212121;			
	}	
	span{
		display: inline-block;
		color: #212121;		
		font-size: 10px;
		font-weight: 300;
		line-height: 8px;		
	}
}
.dfcaloryesbox2{
	float: left;
	margin-right: 3%;
}
.dfborder:hover{
	border: 2px solid #e53935;
	a{
		border-bottom: 1px dashed transparent;	
		color: #e53935;
	}
}
.dfactivelinkmob{
	border: 2px solid #e53935 !important;
	a{
		
		color: #e53935 !important;
		em{
			border-bottom: 1px dashed transparent !important;	
		}
	}
}

.dfcallory .dfcaloryesbox:last-child{	
	margin-right: 0;		
}
.dfcallory .dfcaloryesbox2:last-child{	
	margin-right: 0;		
}


.df3or5{
	text-align: center;
	padding: 15px 0 17px 10px;
	// max-width: 480px;
	max-width: 425px;
	margin: 0 auto;
	.df3{
		color: #212121;		
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		display: inline-block;
		// width: 137px;
		width: 48%;
		background-color: #ededed;
		padding: 9px 0;
		transition:0.4s;
		float: left;
	}
	.df5{
		color: #212121;		
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		display: inline-block;
		// width: 137px;
		width: 48%;
		background-color: #ededed;
		padding: 9px 0;
		transition:0.4s;
		float: left;
	}
	a:hover{
		background-color: #e53935;
		color: #fff;
	}
	span{
		color:#212121;	
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		display: block;
	}
	
}
.df3active{
	background-color: #e53935 !important;
	color: #fff !important;
}
.df5active{
	background-color: #e53935 !important;
	color: #fff !important;
}

.dfweaks{
	ul{
		text-align: center;
		// max-width: 480px;
		max-width: 410px;
		margin: 0 auto;
	}
}
.dfweak{
	display: inline-block;	
	text-align: center;
	border-radius: 3px;
	transition:0.4s;
	padding: 3px 0;
	width: 8%;	
	// width: 13.7%;
	float: left;
	margin-right: 7%;
	a{
		display: inline-block;
		color: #212121;		
		// width: 38px;
		font-size: 18px;
		font-weight: 300;
		line-height: 18px;
		text-decoration: underline;
	}
	a:hover{
		background-color: #ededed;	
		text-decoration: none !important;
		padding: 4px 6px;
		border-radius: 3px;
	}
}

.dfweaks{
	ul{
		// .dfweak:first-child{
		// 	width: auto;
		// }
		.dfweak:nth-child(7){
			width: auto;
			margin-right: 0;
		}
	}
}

.dfblockmenu{
	padding: 17px 0 0px 0;//12
}
.dfmenubox1{
	// max-width: 480px;
	max-width: 410px;
	// width: 275px;
	width: 100%;
	border-radius: 3px;	
	margin: 0 auto;
	height: 109px;	
	margin-bottom: 11px;
	background-color: #ededed;
}
.dfimgmenu{
	// width: 114px;
	width: 20%;
	min-width: 114px;
	display: inline-block;	
	vertical-align: top;
	overflow: hidden;
	height: 109px;
	float: left;	
	img{
		width: 100%;
		height: auto;
	}
}
.dfmenutxt{
	vertical-align: top;
	float: left;
	display: inline-block;
	// max-width: 350px;
	// width: 160px;
	width: 60%;
	height: 109px;
	padding: 9px 5px 9px 12px;
	position: relative;
	// background-color: #ededed;
}
.dfnameproduct{
	color: #111;	
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
}
.dfcharmenu1{
	color: #111;	
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	display: inline-block;
	padding-top: 7px;
}
.dfcharmenu2{
	color: #111;	
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
}
.dfcharmenu3{
	color: rgba(17, 17, 17, 0.14);	
	font-size: 28px;
	font-weight: 700;
	line-height: 8px;
	float: right;
	display: inline-block;
	padding-right: 16px;
	position: absolute;
    bottom: 15px;
    right: -7px;
}


.dfitogo{
	background-color: #e53935;
	border-radius: 3px;
	// width: 275px;
	// max-width: 480px;
	max-width: 410px;
	width: 100%;
	margin: 0 auto;
	padding: 12px 0 10px 21px;
	margin-bottom: 25px;
}
.dftxtitogo1{
	color: white;	
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	display: inline-block;
	padding: 0 3px;
}
.dftxtitogo2{
	color: white;	
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	display: inline-block;
	padding: 0 3px;
	b{
		font-weight: 700;
	}
}
.dfmenulink{
	text-align: center;
	.dflink{
		color: #272727;		
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		text-transform: uppercase;
		display: inline-block;
		padding: 22px 39px;
		background-color: #ffe15e;
		border-bottom: 3px solid #ecc345;
		border-radius: 35px;
		letter-spacing: 0.6px
	}
}



/*==============menu-desktop=========*/
.dfmenudesktop{
	display: none;
}

.jsmobactive{
	background-color: #ededed;	
	text-decoration: none !important;
	padding: 4px 6px;
	border-radius: 3px;
}

//////////////////////////////jquery menu

.df-fit-block, .df-fitplus-block, .df-sport-block, .df-sportplus-block{
	display: none;
}
.dfmenuproducts{
	display: none;
}
.dftabtop{
	// display: none;
}
/////////////////mob============
.dftabmob, .dfblockmenu{
	display: none;
}

.jsdisabled2{
	opacity: 0.3;		
}
.jsdisabled{
	// opacity: 0.3;	
	position: relative;	
}
.jsdisabled:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	// opacity: 1;
	background-image: url("../img/waterblank.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}



/*========================shtraffdemo js*/
.shtraf-item{
	display: none;
}

.disabledinputjs{
	border: 2px solid #e53935 !important;
}
#jsmobversion{
	display: block;
}
#jstarif1{
	display: none;
}
.form-order{
	display: none;
}
.jsrazdneymob{
	b, em{
		display: inline-block !important;
		font-weight: 300!important;
		font-size: 15px !important;
	}
}


#jsonline{
	display: inline-block;
    width: 170px;
    height: 53px;
    background-color: #8bc34a;
    background-image: linear-gradient(to top, #ffdc52 0%, #ffea72 100%);
    border-radius: 33px;
    box-shadow: 0 4px 0 #ecc345, inset 0 0 4px rgba(255, 221, 82, 0.17);
    /* line-height: 66px; */
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: black;
    text-align: center;
    
}






/*================hover on button*/
.shtraf__btn--black{
	-o-transition:0.4s;
	-moz-transition:0.4s;
	-webkit-transition:0.4s;
	transition:0.4s;
}
.shtraf__btn--black:hover{
	color: #e53935;
	border-color: #e53935;
	span{
		border-bottom-color: transparent;
	}
}

.selectdisabled{	
	border: 2px solid #e53935 !important;
}

.dfbgwhite{
	background-color: #fff !important;
}

.detel{
	font-size: 26px;	
    color: #fff;
    font-weight: 600;
    line-height: 29px;
}
	
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 470px) {
	.dfweak{		
		// width: 15.67%;
	}
	.dfcaloryesbox, .dfcaloryesbox2{		
		// width: 23%;
	}
	.dfcallory{	
		max-width: 480px;		
	}
	.df3or5{	
		max-width: 485px;	
	}
	.dfweaks{
		ul{
			max-width: 467px;
			text-align: left;
		}
	}
	.dfmenubox1, .dfitogo{
		max-width: 460px;
	
	}
	
}
// ripplelink
@media only screen and (min-width : 768px) {
	.dfmenutxt{		
		width: 70%;		
	}
	.dfbghow2{		
		background-position: center 60%;
		padding: 12% 0 12% 0 !important;
	}
	.dfbghow3{
		background-position: center 75%;
   		padding: 7% 0 12% 0 !important;
	}
	
	
}




@media only screen and (min-width : 992px) {
	.dfbg1{		
		padding: 120px 0 ;
		background-image: url("../img/girl1.png");
		background-repeat: no-repeat;
		background-position: center right 40%;
		background-size: cover;
	}
	.dfcapgirl{	
		font-size: 46px;		
	}
	.dfcapgirl2{		
		font-size: 40px;		
	}
	.dfgirlbox{
		// float: right;			
		// margin-right: 65px;
		// margin-left: 270px;
		margin-left: 222px;
		margin-top: 23px;
		text-align: left;
	}

	.paralaxsection{	
		height: 415px;		
	}
	.dfbg2{		
		background-position: center top 27%;
		background-size: cover;
		// // padding: 0;	
		// height: 415px;
	}	
	.dfparalaxbox{		
		margin-right: 45px;	
		margin-bottom: 0;
		padding-top: 55px;
	}


	/*===============how=============*/
	.dfbghow1{
		background-image: url("../img/dfbg1.jpg");	
		background-position: center left 27%;			
	}
	.dfbghow2{
		background-image: url("../img/dfbg2.jpg");
		background-position: center center;
		padding: 70px 0 50px 0 !important;				
	}
	.dfbghow3{
		background-image: url("../img/dfbg3.jpg");
		background-position: center center;
		padding: 70px 0 50px 0 !important;	

	}
	.dfcapbottom2{		
		margin-bottom: 50px;	
	}


	.dfbghow1{			
		padding: 55px 0 27px 0 !important; 		
		border-bottom: 7px solid #fff;		
	}
	.dfbghow1:after{		
		top:210px;
		left: 0;
		height: 4px;		
		display: block;///////////
	}	
	.dfcaphow{			
		font-size: 46px !important; 
		padding-top: 0px ; 
		margin-bottom: 7px;
	}
	.dfcapbottom{		
		display: block;
	}
	.dfhowblock{
		// display: block;		
		padding-left: 131px;
		position: relative;
		padding-top: 70px;
		text-align: left;
	}
	.dfhowblock:after{
		content: "";
		position: absolute;
		top: 155px; 
		left: 45px;
		width: 1px;
		height: 95%;
		border-left: 1px dashed #fff;
		z-index: 9;
	}
	
	.dfhownumber{		
		display: block; 
	}
	.dfcaptionbox{		
		padding-top: 0px;//////////////
	}
	.dfhcap1{
		font-size: 28px;				
	}	
	.dfhcap2{		
		font-size: 18px;		
	}
	.dfboxchar{			
		display: block; 
		margin-left: -10px;
	}
	.dfboxchar{	
		margin-bottom: 50px;
		// display: none; ////////////////
		.dfimgcahr{
			display: inline-block;
		}
		.dftxtbox{
			display: inline-block;
		}
		.dfshowmob{
			display: inline-block;
			margin: 0 ;
			.dfcaptxtbox{
				display: block;
			}
		}
	}	



	/*================== section2*/
	.dfbghow2{
		padding: 50px 0 167px 0 !important;
		border-bottom: 7px solid #fff;
		.dfhowblock:after{			
			display: none;
		}
	}
	
	.dfhowblock2{
		position: relative;
		padding-top: 0px !important;
	}
	.dfhowblock2:before{	
		content: "";
		position: absolute;	
		top: 85px; 	
		left: 45px;
		width: 1px;
		height: 140%;					
		z-index: 99;
		border-left: 1px dashed #6a6a70;
	}

	/*================== section3*/
	.dfbghow3{	
		padding: 0px 0 320px 0 !important;	
		.dfhowblock{
			padding-top: 55px;
			padding-left: 125px;
		}		
	}
	.postop{
		top:50px;
	}
}

//1100
@media only screen and (min-width : 1024px) {
	/*girl box*/	
	.dfbg1{			
		background-position: center;		
	}
	

	.dfgirlbox{
		float: right;			
		margin-right: 65px;		
		margin-left: 0px;		
	}	
	
	/*menu=============================*/
	
	.dfmenumobulehidden{
		display: none;
	}
	.dfmenudesktop{
		display: block;
		padding: 70px 0 !important;
	}
	.dfcontainer2{
		max-width: 1172px;
		width: 100%;
		margin: 0 auto;
		.dfcallory{
			text-align: left;
			max-width: unset;
			// padding-left: 30px;
		}
		.dfcaloryesbox{
			text-align: center;
		}
		.dfcaloryesbox2{
			text-align: center;
		}
	}
	.dfmenucap{
		font-size: 46px;
		margin-bottom: 45px;
	}
	.dfcaloryesbox, .dfcaloryesbox2{
		// width: 147px;
		width: auto;
		// margin-right: 50px;
		display: inline-block;		
		position: relative;
		padding: 15px 30px 34px 30px;
		.dfborder{
			border: 2px solid #212121;
			border-radius: 25px;
			padding: 0;	
			// padding: 15px 0;			
			display:block;
			// width: 100%;
			// width: 149px;
			-o-transition:0.5s;
			-webkit-transition:0.5s;
			-moz-transition:0.5s;
			transition:0.5s;
			cursor: default;
		}
		a{
			width: 149px;			
			color: #212121;		
			font-size: 14px;
			font-weight: 800;
			line-height: 18px;
			display: inline-block;		
			position: relative;	
			padding: 16px 0;	
			border: none;
			em{
				border-bottom: 1px dashed #212121;
			}
		}
		

		span{
			display: inline-block;
			color: #212121;		
			font-size: 14px;
			font-weight: 300;
			line-height:14px;	
			padding-top: 8px;
			letter-spacing: 0.02em;	
		}
	}
	.dfhoverbox1{
		margin-left: -13px;
	}
	.dfactivelink{
		background-image: url("../img/hoveronbutton1.png") !important;
		background-repeat: no-repeat !important;		
		background-position: top 1px right 205% !important;
	}	
	.dfactivelink2{
		background-image: url("../img/hoveronbutton2.png");
		background-repeat: no-repeat;		
		background-position: top center;
	}


	.dfhoverbox1:hover{		
		background-image: url("../img/hoveronbutton1.png");
		background-repeat: no-repeat;
		// background-position: top left -1.5%;
		background-position: top 1px right 205%;		
	}
	.dfhoverbox2:hover{		
		background-image: url("../img/hoveronbutton2.png");
		background-repeat: no-repeat;
		background-position: top center;
	}
	.dfhoverbox3:hover{		
		background-image: url("../img/hoveronbutton2.png");
		background-repeat: no-repeat;
		background-position: top center;
	}
	.dfhoverbox4:hover{		
		background-image: url("../img/hoveronbutton2.png");
		background-repeat: no-repeat;
		background-position: top center;
	}







	.dfcaloryesbox:hover, .dfcaloryesbox2:hover{
		.dfborder{
			border: 2px solid #e53935;
		}		
		a{
			border: none;
			color: #e53935;
			em{
				border-bottom: 1px dashed transparent;	
			}
		}
	}
	.dfpriemi{		
		max-width: 145px;
		width: 100%;
		display: inline-block;		
		margin-right: 20px;
		padding-top: 15px;
	}
	.df3priem{		
		display: block;
		border: 2px solid #212121;		
		padding: 12px 10px 3px 10px;		
		border-radius: 25px;		
		text-align: center;
		color: #212121;		
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		margin-right: -3px;
		.dfdots{
			width: 7px;
			height: 7px;
			display: inline-block;
			background-color: #000;
			border: 1px solid #000;
			border-radius: 50%;
			margin-right: 2px;
		}		
		.dfdots:last-child{
			background-color: #fff;
		}
		.dfdots:nth-child(2){
			background-color: #fff;
		}
	}
	.df3priem:hover{
		border: 2px solid #e53935;
		color:  #e53935;
		
	}
	.df3priemactive{
		border: 2px solid #e53935;
		color:  #e53935;
		.dfdots{			
			display: inline-block;
			background-color: #e53935;
			border: 1px solid  #e53935;
		}		
		.dfdots:last-child{
			background-color: #fff;
		}
		.dfdots:nth-child(2){
			background-color: #fff;
		}
	}
	.df5priem{
		// display: inline-block; //
		display: block;
		border: 2px solid  #212121;		
		// padding: 12px 14px 3px 15px; //
		padding: 12px 10px 3px 10px;
		// border-radius: 0 25px 25px 0; //25
		border-radius: 25px;
		// text-align: left;
		text-align: center;
		color:  #212121;		
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		margin-top: 5px;///
		.dfdots{
			width: 7px;
			height: 7px;
			display: inline-block;
			background-color: #000;
			border: 1px solid  #212121;		
			border-radius: 50%;
			margin-right: 2px;
		}
	}
	.df5priem:hover{
		border: 2px solid #e53935;
		color: #e53935;
		// .dfdots{
		// 	background-color: #e53935;
		// 	border: 1px solid #e53935;
		// }
	}
	.df5priemactive{
		border: 2px solid #e53935;
		color: #e53935;
		.dfdots{
			background-color: #e53935;
			border: 1px solid #e53935;
		}
	}




	.dfmenuproducts{
		text-align: left; 
		background-color: #efefef;	
		padding: 18px 17px;
		border-radius: 5px 5px 0 0;		
		margin-top: -13.1px;	
		box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.23);
		text-align: center;		
	}

	.dfmenuproductbox{
		max-width: 212px;//192
		max-width: 191px;//192
		width: 100%;
		display: inline-block;
		background-color: #fff;
		min-height: 345px;	//330	
		// margin-right: 15px;//3
		margin-right: 3px;
    	vertical-align: top;

	}
	.dfmenuproducts .dfmenuproductbox:last-child{
		margin-right: 0;
	}
	.dfimgproduct{
		width: 100%;
		height: 145px;
		img{
			width: 100%;
			height: auto;
			display: inline-block;
		}	
	}
	.dfmenucharacteristic{
		padding: 18px 15px 12px 15px;
		position: relative;
		text-align: left;
	}
	.dfnameproduct{
		font-size: 14px;
		line-height: 18px;
		min-height: 72px;
	}
	.dfcharmenu1{
		font-size: 14px;
		line-height: 18px;
	}
	.dfcharmenu2{
		font-size: 14px;
		display: block;
		line-height: 18px;
		padding-top: 10px;
	}
	.dfcharmenu3{
		font-size: 100px;
		display: block;
		line-height: 75px;
		padding-right: 0;
		float: none;
		position: absolute;
		bottom: 25px;
		right: 17px;
	}
	

	.dfmenudateweak{		
		position: relative;
		ul{
			background-color: #7d7d7d;
			padding: 7px 35px 10px 100px;
			text-align: left;

		}
	}
	.dfmenuprev, .dfmenunext{
		background-image: url("../img/prev.png");
		background-repeat: no-repeat;
		background-position: center;
		width: 35px;
		height: 37px;
		border-radius: 50%;
		background-color: #fff;
		display: inline-block;
		position: absolute;
		top:9px;
		left:42px;
		-o-transition:0.4s;
		-moz-transition:0.4s;
		-webkit-transition:0.4s;
		transition:0.4s;
	}
	.dfmenuprev:hover, .dfmenunext:hover{
		background-color: #9a9a9a;
	}
	.dfmenunext{
		background-image: url("../img/next.png");		
		left:unset;
		right: 35px;
	}
	.dfdaysmenu{
		display: inline-block;		
		margin: 4px 20px 0 0;//44
		a{
			// padding: 6px 12px;
			padding: 1px 16px;
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			line-height: 30px;
			color: white;
			text-decoration: underline;
			border-radius: 3px;
			-o-transition:0.4s;
			-moz-transition:0.4s;
			-webkit-transition:0.4s;
			transition:0.4s;
		}
		a:hover{
			color: #212121;
			background-color: #fff;	
			text-decoration: none;
		}
	}
	.jsweakactive{
		color: #212121 !important;
		background-color: #fff;	
		text-decoration: none !important;
	}	
	


	.dfmenulink{
		background-color: #e53935;
		display: block;
		border-radius: 0 0 3px 3px;
		padding: 12px 0px 10px 36px;
		text-align: left;
		.dflink{
			padding: 20px 39px;
			letter-spacing: unset;
		}
	}
	.dfitogobox{
		display: inline-block;
		max-width: 680px;
		width: 100%;
		text-align: left;
		vertical-align: top;
   		padding-top: 20px;
	}
	.dftxtitogo1{
		font-size: 18px;
		margin-right: 19px;
	}
	.dftxtitogo2{
		margin-right: 19px;
		font-size: 14px;
		b{
			font-size: 18px;
		}		
	}
	.dflinktarif{
		color: white;		
		font-size: 16px;
		font-weight: 300;
		line-height: 21px;
		display: inline-block;
		margin-left: 25px;
		border-bottom: 1px dashed #fff;
		vertical-align: top;
    	padding-top: 20px;
		-o-transition:0.4s;
		-moz-transition:0.4s;
		-webkit-transition:0.4s;
		transition:0.4s;
	}
	.dflinktarif:hover{
		border-bottom: 1px dashed transparent;
	}
	
	///////////////////////shtrafdemo
	#jstarif1{
		display: block;
	}
	#jsmobversion{
		display: none;
	}


}

//1248
@media only screen and (min-width : 1175px) {
	.dffourbox{
		text-align: center;
		display: block;
	}
	.dfbghow1{
		background-image: url("../img/dfbg1.jpg");	
		background-position: center center;			
	}	
	
	.dfmenuproductbox{
		max-width: 212px;			
		margin-right: 15px;	
		min-height: 330px;	
	}
	.dfdaysmenu{		
		margin: 4px 44px 0 0;//44
	}
	.dfpriemi{
		max-width: 245px;//		
		width: 100%;//		
		float: right;//		
	}
	.df3priem{
		display: inline-block; 		
		padding: 12px 13px 3px 25px;		
		border-radius: 25px 0 0 25px;		
		text-align: left;		
	}
	.df5priem{
		display: inline-block; 
		padding: 12px 14px 3px 15px; 
		border-radius: 0 25px 25px 0; 
		text-align: left;		
		margin-top: 0px;
	}


}
